<tbody>
    <tr>
        <td>{{nom}}</td>
                <td>
                    <span class="label label-default"> Disques </span>
                </td>

                <td>
                    <span class="label label-info"> Prix</span>
                </td>

                <td style="text-align: right">
                    <button type="button" class="btn btn-default" style="background-color: #000000">
                        <span class="glyphicon glyphicon-search" style="color: #ffffff" aria-hidden="true"></span>
                        <a href="#" style="color: #ffffff">Ouvrir</a>
                    </button>
                </td>
    </tr>
</tbody>

