<h2> Administration </h2>
<div>
    <ul>
        <li  class="list-group-item">

        <span class="glyphicon glyphicon-user"></span> Utilisateurs
        <span class="label label-info"> 42 Nouveaux </span>

            <button type="button" class="btn btn-default col-lg-offset-7" style="background-color:#000000">
                   <span class="glyphicon glyphicon-search" style="color:#ffffff"  aria-hidden="true"></span>
                   <a style="color:#ffffff" href="Disques/frm">Ouvrir</a>
            </button>
            <button type="button" class="btn btn-default >
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                <a href="Users/frm">Nouveaux</a>
            </button>

        </li>



        <li  class="list-group-item">
        <span class="glyphicon glyphicon-folder-close"></span> Disques
        <span class="label label-info"> 42 Nouveaux </span>
            <button type="button" class="btn btn-default col-lg-offset-8" style="background-color:#000000">
                <span class="glyphicon glyphicon-search" style="color:#ffffff"  aria-hidden="true"></span>
                <a style="color:#ffffff" href="Disques/frm">Ouvrir</a>
            </button>
            <button type="button" class="btn btn-default >
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <a href="Disque/frm">Nouveaux</a>
            </button>

        </li>



        <li  class="list-group-item">
        <span class="glyphicon glyphicon-euro"></span> Tarifs
            <button type="button" class="btn btn-default col-lg-offset-9" style="background-color:#000000">
                <span class="glyphicon glyphicon-search" style="color:#ffffff"  aria-hidden="true"></span>
                <a style="color:#ffffff" href="Disques/frm">Ouvrir</a>
            </button>
            <button type="button" class="btn btn-default >
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <a href="#">Nouveaux</a>
            </button>
        </li>



        <li  class="list-group-item">
        <span class="glyphicon glyphicon-gift"></span> Services
            <button type="button" class="btn btn-default col-lg-offset-9" style="background-color:#000000">
                <span class="glyphicon glyphicon-search" style="color:#ffffff"  aria-hidden="true"></span>
                <a style="color:#ffffff" href="Disques/frm">Ouvrir</a>
            </button>
            <button type="button" class="btn btn-default >
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            <a href="#">Nouveaux</a>
            </button>
        </li>
   
</ul>

</div>







