<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Disque </title>
</head>
<body>

<span class="glyphicon glyphicon-hdd"></span>
{{disque.getNom()}}
{{disque.getSize()}}


<!--
<div class="progress">

    <div class="progress-bar" role="progressbar" aria-valuenow="{{disque.getOccupation()}}" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"> */
        {{disque.getOccupation()}}

    </div>
</div> -->
<div class="progress">
    <div class="progress-bar progress-bar-success" aria-valuemin="0" aria-valuemax="10" style="width: 10%">
        <span>{{disque.getOccupation()}}</span>
    </div>
    <div class="progress-bar progress-bar-warning" aria-valuemin="11" aria-valuemax="50" style="width: 41%" >
        <span>{{disque.getOccupation()}}</span>
    </div>
    <div class="progress-bar progress-bar-danger" aria-valuemin="51" aria-valuemax="80" style="width: 29%" >
        <span>{{disque.getOccupation()}}</span>
    </div>
</div>


<a href="Scan/:idDisque">
    <button type="button" class="btn btn-block btn-primary">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
          Ouvrir
    </button>
</a>
</body>
</html>