<h2>Changer la tarification du disque {{disque.nom}}</h2>

<form method="post" action="Scan/changetarif">
    <div class="form-group hidden">
        <input type="hidden" name="disqueId" value="{{disque.getId()}}" required>
        <input type="hidden" name="userId" value="{{user.getId()}}" required>
    </div>

    <div class="form-group">
        <label for="tarif">Choix du tarif</label>
        <select name="tarif" id="tarif" class="form-control">
            {% for tarif in tarifs %}
            <option value="{{tarif.id}}"
                    {%if tarifs.id == selected %}
                    {{selected}}
                    {% endif %}>
                {{tarif.getQuota()}} {{tarif.getUnite()}} pour {{tarif.getPrix()}}€ avec marge de dépassement de
                {{tarif.getMargeDepassement() * 100}}% (Coût de dépassement {{tarif.getCoutDepassement()}}€ / {{tarif.getUnite()}})</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">Changer la tarification</button>
    </div>
    <div class="clearfix"></div>


</form>
